.__boss_time_tag, .__zhipin_time_tag, .__zhilian_time_tag {
    position: absolute;
    right: 0;
    top: 0;
    background: rgba(229, 248, 248);
    color: #00a6a7;
    padding: 0 8px;
    font-size: 14px;
    border-radius: 0 0 0 4px;
    text-align: right;
}
/* 
.__zhipin_time_tag {
    position: absolute;
    right: 0;
    top: 0;
    background: #426eff;
    color: white;
    padding: 0 8px;
    font-size: 14px;
    border-radius: 0 0 0 4px;
} */

.__job51_time_tag{
    position: absolute;
    right: 0;
    top: 0;
    background: rgba(229, 248, 248);
    color: #00a6a7;
    padding: 0 8px;
    font-size: 14px;
    border-radius: 0 0 0 4px;
    text-align: right;
}

/* 与BOSS直聘的筛选器样式 .condition-filter-select .current-select 保持一致*/
.__boss_filter.condition-filter-select .current-select::after {
    content: unset;
}
.__boss_filter.condition-filter-select .current-select {
    padding-right: 12px;
}
.__boss_filter_result-hidden {
    display: none;
}

.__is_outsourcing_or_training {
    
}

.__rencent_update {
    color: red;
}

.__time_tag_base_text_font{
    color:white;
    font-size:12px;
    line-height: 18px;
}